<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}">
</head>
<body>
    <h1> {{ name }} 님의 통계입니다.</h1>
    <hr>
    <form>
        <table>
            <tr>
                <th>이름</th>
                <th>레벨</th>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>LV. 1</td> 
            </tr>
        </table>
    </form>
</body>
</html>